/* footer.module.css */
.section{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  z-index:1;
}
/* Estilos principais do footer */
.footer {
  
  /* border-bottom: 1px solid #0056b3; */
  padding: 40px 20px;
  font-family: Arial, sans-serif;
  color: #333;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  position: relative;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.footerColumn {
  flex: 1;
  width: 20%;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.footerTitle {
    font-family:Proelium;
    font-size:2vw;
    background: linear-gradient(to left, rgba(0, 0, 255, 1), rgba(150, 0, 255, 1));
  -webkit-background-clip: text; /* Para Safari */
  -webkit-text-fill-color: transparent; /* Para Safari */
  color: transparent; /* Para outros navegadores */
  transition: none !important; /* Mantém a transição como none */
  white-space: normal;
}

.footerText {
    font-family:SpaceGrotesk-VariableFont;
    color: white;
    font-size: 1.4vw;
}

.footerList {
  list-style-type: none;
  padding: 0;
}

.footerList li {
  margin-bottom: 10px;
}

.footerList li i {
  margin-right: 8px;
}

.footerList a {
    font-family:SpaceGrotesk-VariableFont;
    color: white;
    font-size: 1.2vw;
    transition: 0.5s;
}

.footerList a:hover {
  color: #0056b3;
}

/* Links sociais */
.socialLinks {
  display: flex;
  gap: 10px;
}

.socialLinks a {
  color: white;
  font-size: 2vw;
  border-radius: 4px;
}

.socialLinks a:hover {
  color: #007bff;


}

.footer .bi{
    color: #007bff;
}
/* Copyright */
.copyright {
  position: absolute;
  bottom: 0;
  color: white;
  font-family: SpaceGrotesk-VariableFont;
  font-size: 1.2vw;
}




/* MIDIA SCREN 480PX */
@media (max-width:480px) {
  /* footer.module.css */
.section{
  width: 100%;
  height: 150vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  position: relative;
  z-index:1;
}
/* Estilos principais do footer */
.footer {
  
  /* border-bottom: 1px solid #0056b3; */
  padding: 40px 20px;
  font-family: Arial, sans-serif;
  color: #333;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  position: relative;
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
 width: 100%;
 height:90%;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
}

.footerColumn {
  flex: 1;
  width: 100%;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  gap: 2vh;
  margin-left: 0;
}

.footerTitle {
    font-family:Proelium;
    font-size:8vw;
    background: linear-gradient(to left, rgba(0, 0, 255, 1), rgba(150, 0, 255, 1));
  -webkit-background-clip: text; /* Para Safari */
  -webkit-text-fill-color: transparent; /* Para Safari */
  color: transparent; /* Para outros navegadores */
  transition: none !important; /* Mantém a transição como none */
  white-space: normal;
  text-align: center;
  width: 100%;
}

.footerText {
    font-family:SpaceGrotesk-VariableFont;
    color: white;
    font-size: 5.5vw;
    text-align: center;
    
}

.footerList {
  list-style-type: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
}

.footerList li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.footerList li:hover{
  background-color: #333;
  color: var(--indigo);
}

.footerList li i {
  margin-right: 8px;
}

.footerList a {
    font-family:SpaceGrotesk-VariableFont;
    color: white;
    font-size: 5vw;
    transition: 0.5s;
}


.footerList li:hover a{
  color: #0056b3;
}
/* Links sociais */
.socialLinks {
  display: flex;
  gap: 10px;
}

.socialLinks a {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2vw;
  color: white;
  font-size: 7vw;
  border-radius: 4px;
  
}

.socialLinks a:hover {
  color: #007bff;


}

.footer .bi{
    color: #007bff;
}
/* Copyright */
.copyright {
  position: absolute;
  bottom: 0;
  color: white;
  font-family: SpaceGrotesk-VariableFont;
  font-size:3.5vw;
  text-align: center;
}


}